.header {

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    color: var(--gren-gray-scale-900);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}